doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Medivest IoT | Log in
    // Tell the browser to be responsive to screen width
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // Bootstrap 3.3.6
    link(rel='stylesheet', href='/adminlte/bootstrap/css/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
    // Ionicons
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
    // Theme style
    link(rel='stylesheet', href='/adminlte/dist/css/AdminLTE.min.css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body.hold-transition.login-page(style="height:auto")
    .login-box
      .login-logo
        a(href='/')
          //b DLM
          //| Healthcare
          //img(src="/adminlte/dist/img/logo_black.png",height="65px",width="350px")
          img(src="/adminlte/dist/img/rapita_healthcare.png",height="65px",width="350px")
      // /.login-logo
      .login-box-body
        p.login-box-msg Sign in 
        - if(messages.message)
            | !{messages.message}
        form(action='/login', method='post')
          .form-group.has-feedback
            input.form-control(type='text', placeholder='Username',name='username',id='username')
            span.fa.fa-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password',name='password',id='password')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .row
            .col-xs-8
              
            .col-xs-4
              button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In

