extends base
block content 
    section.content-header 
        h1 
            | Current Location
            
        ol.breadcrumb 
            li 
                a(href='#') 
                    i.fa.fa-dashboard
                    | Current Location 
            
    section.content
        .box
            .box-header.with-border
                h3.box-title
                    | Current Location&nbsp&nbsp
                    
                        
            .box-body
                table(id="example",class="table table-bordered table-striped")
                   thead
                     tr
                       th 
                       
                   tbody
                        for row, index in data 
                            tr
                                td 
                                  img(src='#{row.assets_last_map}',width='100%',height='100%')
                                        